<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="nav-header">
      <a class="navbar-brand" href="#">Kubaliquor Stores</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="navbar-nav">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="make-order-container">
<button class="home-button" (click)="goToDashboard()">Home</button>
<div class="d-flex justify-content-between align-items-center mb-5">
  <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
  <h6 class="mb-0 text-muted"> Items</h6>
</div>
<!-- <h2>Cart</h2> -->
<hr class="my-4">


<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Unit Price</th>
      <!-- <th>Quantity</th> -->
      <!-- <th>Total Cost</th> -->
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.productName }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.unitPrice }}</td>
      <!-- <td>{{ item.quantity }}</td> -->
      <!-- <td>{{ item.unitPrice * item.quantity }}</td> -->
      <td>
        <button (click)="removeFromCart(item)">Remove</button>
      </td>
    </tr>
    <p>Total: {{ getTotal() }}</p>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Buy Now</button>
    <!-- <button (click)="orderCart()">Buy</button> -->
    <button (click)="clearCart()">Clear</button>
    <button (click)="goBack()">Back</button>


  </tbody>
</table>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Buy Now</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="buyProductForm">
      <div class="form-group">
        <label for="shipping-address">ShippingAddress</label>
        <div class="input-group">
          <input type="text" id="shipping-address" formControlName="shippingAddress" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <div class="input-group">
          <input type="number" id="quantity" formControlName="quantity" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="buyProductForm.invalid" (click)="modal.dismiss('Cross click')" (click)="onBuySubmit()">Save</button>
      </div>
    </form>
	</div>
</ng-template>
