/* Style for the main container */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

/* Style for the heading */
.heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* Style for the subheading */
.subheading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

/* Style for the button container */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Style for the buttons */
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #3e68f3;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;

}

/* Hover effect for the buttons */
.button:hover {
  background-color: #191c19;
}

/* Style for the logout button */
.logout-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f44336;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;

}

/* Hover effect for the logout button */
.logout-button:hover {
  background-color: #c62828;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 1rem;
}

button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}























button {
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove borders */
  color: white; /* White text color */
  padding: 30px 50px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 20px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px;
  margin-top: 50px;


}

button:hover {
  background-color: #3e8e41; /* Darker green background on hover */
}

.button-container {
  display: flex;
  justify-content:  space-around; /* or space-between or space-around or flex-start or flex-end */
  align-items: center;
}

.button-col {
  display: flex;
  justify-content:  space-between; /* or space-between or space-around or flex-start or flex-end */
  align-items: center;
  margin-left: 95px;

}


