<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="nav-header">
      <a class="navbar-brand" href="#">Kubaliquor Stores</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="navbar-nav">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <button class="home-button" (click)="goToDashboard()">Home</button>
  <h1>Orders</h1>
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Cost</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.customerName }}</td>
          <td>{{ order.productName }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.unitPrice }}</td>
          <td>{{ order.quantity * order.unitPrice  }}</td>
          <td>
            <button *ngIf="!order.completed" (click)="markAsComplete(order)">Complete</button>
            <span *ngIf="order.completed">Completed</span>

          </td>

        </tr>
      </tbody>

  </table>
</div>


